body {
  background-color: #eee;
}

.container {
  width: 40%;
  height: auto;
  margin: 5% auto 0 auto;
  box-shadow: 2px 2px 10px 3px #888;
}

.todolist {
  background-color: #fff;
}

.title {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.img {
  margin: auto 15px auto 0;
  padding: 0 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

hr {
  margin: 0;
}

#form {
  display: flex;
  justify-content: space-between;
}

.inputF {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 18px;
  color: rgb(82, 82, 82);
  padding: 0 0 0 10px;
  margin: 0;
}

.inputF:placeholder-shown {
  font-style: italic;
}

.inputF:focus {
  outline: none;
}

.enter-icon {
  width: 30px;
  height: 30px;
  padding: 0 10px;
  margin: 10px 0 0 0;
  cursor: pointer;
}

.show-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.check-box {
  border: 1px solid #eee;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.checked {
  display: none;
  border: 1px solid #eee;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.tast {
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0 10px;
  padding: 10px 0 10px 0;
  width: 100%;
}

.drag-drop {
  margin: 0 15px 0 auto;
  padding: 0 10px;
  cursor: all-scroll;
}

.clear {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(243, 243, 243);
}

.clear button {
  border: none;
  cursor: pointer;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #888;
  background-color: rgb(243, 243, 243);
}

.btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.enter-err {
  margin-left: 15px;
  color: red;
  font-family: Arial, serif;
  font-size: 16px;
  font-weight: 600;
  transition: width 12s;
}

.edit {
  margin-left: 1px;
  color: green;
  font-family: Arial, serif;
  font-size: 16px;
  font-weight: 600;
  transition: width 12s;
}

.trash {
  display: none;
  margin: 0 10px 0 auto;
  padding: 0 5px;
  cursor: pointer;
}
